@use '../../utils/global.scss';

.Details {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
    text-align: left;
    width: 100%;

    

    .cast-section, .review-section { 
        margin-top: 15px;
        padding: 1%;
        border-radius: 15px;
        width: 100%;
        box-shadow: global.$container-shadow;
    }
}