.home-container {
  min-height: 100vh;
  text-align: left;
  display:flex;
  flex-direction: column;
  padding:25px;

  .trend-container{
    padding: 1%;
    border-radius: 25px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}