.cast-container {
    display:grid;
    grid-auto-flow: column;
    gap: var(--size-3);
    grid-auto-columns: 15%;
    overflow-x: auto;
    
    .cast-card {
        text-align: center;
        margin-top: 10px;
        width: 10rem;
        color: black;

        .cast-image{
            
        }
    }
}