.carousel-container { 
    display:flex;

    .carousel {
        width:100%;
        

        .carousel-control-next-icon, .carousel-control-prev-icon{
            border: 320px white;
        }
    }

    img {
        width:100%;
        object-fit:cover;
        cursor: pointer;

    }
    

    .carousel-caption-container { 
        
        
        //background-color: rgba($color: #000000, $alpha: 0.2);
        font-size: 16px;

        h2, p{
            color:white;
            opacity: 1;
        }

        p{
            font-weight: bold;
            padding:1%;
        }
    }

}