
.Search {
    
    height: auto;
    min-height: 100vh;

    .search-box {
        width:100%;
        padding:1%;
    }
    .search-result-container {
        margin-left: 1rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

