.details-container {
    background-color: rgba($color: #000000, $alpha: 0.2);
    display:flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 2%;
   


    .info-container {
        padding: 1%;
    

        .info-table {
            margin-top: 10px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .genre-container{
            .genre-tag{     
                margin-right: 10px;
            }
        }
    }

    

   
}

