.navbar-container { 
    width:100%;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    .nav-brand{
        color:white;
        font-size: 2em;
        font-family: 'Cairo Play', cursive;

        .brand-link { 
            text-decoration: none;
            color:white;

        }

        .brand-link:hover{
            color:rgba(211, 47, 47, 0.8);
        }
    }
    .nav-brand:hover{
        cursor: pointer;
        color:red;
    }
    

    .search-box {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        .search-button {
            margin-left: 10px;
            background-color:rgba(211, 47, 47, 0.8) ;
            
        }
    }

    .nav-links-container {
        width: 100%;
        justify-content:right;
        .nav-links{
            color:white;
            text-decoration: none;
            margin-right: 10px;
        }
    }
}