@use '../../utils/global.scss';


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-color: white;
    box-shadow: global.$container-shadow;
    padding: 25px;
    border-radius: 15px;     
    .star-rating{
        align-items: center;
        margin-bottom: 15px;
        width: 50%;
    }

    .review-body-input {
        color:black;
    }

    .submit-button {
        margin-top: 10px;
    }


    .text-field{ 
        flex-direction: column;
        width: 100%;
        .review-body-input {
            color:black;
        }
    
    }
}